# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/

# Model files
*.pkl
*.h5
*.pt
*.joblib

# Dataset files
*.csv
*.xlsx
*.json

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Upload folders
uploads/

# Temporary files
*.tmp
*.cache